<div id="upperform">
  <div class="row">
    <div class="col-10 ml-5">
      <input
        class="form-check-input"
        type="checkbox"
        id="autoSizingCheck"
        [checked]="status"
        (change)="checkBoxChange($event)"
      />
      <label for="autoSizingCheck">
        קבע שיבוץ לטכנאי
      </label>
      <input
        type="text"
        id="birthday"
        name="birthday"
        readonly
        [ngModel]="date | date: 'dd/MM/yyyy'"
      />

      <label for="birthday">תאריך פתיחת קריאה</label>
    </div>
    <div class="col-12 ml-5" *ngIf="status">
      <input type="time" id="birthday" name="birthday" />
      <input type="time" id="birthday" name="birthday" />
      <input type="date" id="birthday" name="birthday" />
      <label for="birthday">מתאריך</label>
      <select
        id="users"
        #users
        [(ngModel)]="id"
        (change)="onChange($event, users.value)"
      >
        <option *ngFor="let item of calls">{{ item.TechID }}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <hr />
  <div class="col-12">
    <h3>פרטי הלקוח</h3>
  </div>
  <hr />
  <div *ngIf="status" id="form">
    <div class="form" *ngFor="let item of clients | users: id">
      <div class="col-10">
        <label for="birthday">טלפון</label>
        <input type="text" class="form-control" value="{{ item.Cphone }}" />
      </div>
      <div class="col-10">
        <label for="birthday">כתובת</label>
        <input type="text" class="form-control" value="{{ item.Caddress }}" />
      </div>
      <div class="col-10">
        <label for="birthday">שם</label>
        <input type="text" class="form-control" value="{{ item.Cname }}" />
      </div>
    </div>
  </div>
</div>
